# Environment variables
.env
backend/.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Buildozer
.buildozer/
bin/

# Database
*.db
*.sqlite3
